<html lang = "en">
<head>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <form id ="login-form" class ="input-form"
         method = "POST"
         action="/users/login"
           enctype ="application/x-www-form-urlencoded">

<h2>	Login Page:</h2>

<div class="topnav">
    </div>

<label for="name"> Username</label>
<input type="text" name="username" required placeholder= "username" />
<label for="password">Password</label>
<input type="password" name="password" required placeholder= "password" /> 

<input type="submit" 



