
     body {
        font-family: "Copperplate", fantasy;
          font-size: 16px;
          background-image:linear-gradient(rgb(10, 4, 49),rgb(9, 9, 145),rgb(10, 4, 49));
      
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 100vh;
          margin: 0;
      }
      p{
        color: white}
      
      h1{color: white}
      header{color: white}
      footer{color: white}
      a{ 
         color: white; border: 8px solid rgb(125, 20, 20);
         font-family: "Copperplate", fantasy }

         div{}
        
    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 280px;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }

    div.desc {
      padding: 15px;
      text-align: center;
    }
    h2 {
        color: #ffffff; ;
         font-family: "Copperplate", fantasy ;
      }
      section {
        color: #ffffff; ;
         font-family: "Copperplate", fantasy ; }
         
         #flash-message {
          color: red;}

          
          .cards-container {
            display: flex;
            flex-wrap: wrap;
          }
          .cards {
            justify-content: center;
            align-items: center;
            width: 30%;
            padding: 10px;
            margin: 10px;
            background-color:rgba(90, 118, 244, 0.975);
            border-radius: 20px;
            
          }
        .comment{
          color: rgb(254, 254, 254)

        }
          .thumbnail,
          .thumbnail-title,
          .thumbnail-desc,
          .details  {
          margin: 10px auto;
          display: flex;
          justify-content: center;
          }
         
          .thumbnail-title {
          background-color:rgb(255, 255, 255);
          padding: 5px 10px 5px 10px;
          width: max-content;
          border-radius: 50px;
          }